@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Category>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("categoryTitle")</h1>
				<p>What we do when we do what we do - and why!</p>
			</div>
		</div>

		<!-- Main container -->
		<div class="container">

			<!-- Featured blogpost -->
			<div class="row section">
				<div class="col-md-12">
					@Model.Value("categoryBody")
				</div>
			</div>

			<!-- Latest blog posts -->
			<div class="row section">
				<div class="col-md-12">
					<h3>Latest @Model.Value("categoryTitle")</h3>
				</div>
			</div>
			<div class="row">
		     @{
                    var selection = Model
                    .ChildrenOfType("product")
                    .Where(x => x.IsVisible())
                    .OrderByDescending(x => x.CreateDate);
                }
			 @foreach (var item in selection)
             {
                <div class="col-md-4">
					<a href="@item.Url()" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('@(item.Value<IPublishedContent>("productImage").Url())')"></div>
						<h5>@item.Name()</h5>
					</div></a>
				</div>
			    }
			</div>
			<div class="row section">
				<div class="col-md-12">
					<h3>Other @Model.Value("categoryTitle")</h3>
				</div>
			</div>
			<!-- Product Query goes here. -->
			<div class="row">
				<div class="col-md-4">
					<a href="Blogpost.html" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/Press.jpg')"></div>
						<h5>Product 1</h5>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/sofie-hammock.jpg')"></div>
						<h5>Product 2</h5>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/heart-DNS.png')"></div>
						<h5>Product 3</h5>
					</div></a>
				</div>
			</div>

		</div>